/* to specify gradients, use background-image */
/* clip path is very modern */
.header {
    height: 95vh;
    background-color: $color-primary;
    position: relative;

    .headshot {
        height: 80vh;
        // background-color: red;
        position: absolute;
        bottom: 0rem;
        right: 0rem;
    }
}

.text-box {
    display: inline-block;
    color: $color-grey;
    position: absolute;
    left: 10vw;
    top: 40vh;
    
}

.heading-primary {
    font-weight: inherit;
    color: inherit;
    line-height: 6rem;
    font-size: 4rem;
    // background-color: red;

    span {
        background-image: linear-gradient(45deg, $color-blue-light, $color-blue-dark);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.heading-secondary {
    font-weight: 38.5rem;
    width: 33rem;
    letter-spacing: -0.02rem;
}